@{
    ViewData["Title"] = "Home Page";
}

<div ng-app="app">
    <div ng-controller="MainController">
        <p>
            {{ message }}
        </p>
        <div id="grid1" ui-grid="{ data: myData }" class="grid"></div>

    </div>
</div>




















@section Scripts{ 
    <script src="~/Scripts/App/app.js"></script>
    <script src="~/Scripts/App/controllers/MainController.js"></script>
}